@use "global" as *;

.about {
  margin-top: rem(40);
  position: relative;
  @include mq('md') {
    margin-top: rem(120);
  }
}

.about::after {
    @include mq('md') {
    content: "";
    display: block;
    background-image: url('../images/common/about_sea-anemone.png');
    background-size: contain;
    width: rem(194);
    height: rem(181);
    position: absolute;
    bottom: rem(-90);
    right: calc(50% - min(48.5vw, 39.8rem));
  }
}

.about__contents {
  margin-top: rem(26);

  @include mq('md') {
    margin-top: rem(40);
    aspect-ratio: 1080 / 661;
    position: relative;
  }
}

.about__images-left {
  position: relative;
  width: rem(128);
  left: 0;
  z-index: 1;

  @include mq('md') {
    width: rem(400);
    z-index: -1;
    aspect-ratio: 400 / 606;
  }
}

.about__images-right {
  position: relative;
  width: rem(281);
  right: 0;
  margin-top: rem(-162);
  margin-left: auto;

  @include mq('md') {
    width: rem(880);
    display: block;
    z-index: -2;
    aspect-ratio: 880 / 581;
    margin-top: rem(-530);
  }
}

.about__sentences {
  margin-top: rem(40);

  @include mq('md') {
    margin-top: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    top: rem(200);
    left: rem(199);
  }
}

.about__main-text {
  font-size: rem(40);
  font-family: $en-base-font-family;
  color: $color-gr;
  line-height: 1;
  margin-bottom: rem(16);
  @include mq('md') {
    font-size: rem(80);
    line-height: calc(rem(100) / rem(80));
    color: $color-wh;
    margin-bottom: 0;
    min-width: rem(400);
  }
}

.about__text-wrap {
  display: flex;
  flex-direction: column;
  @include mq('md') {
    margin-left: rem(40);
  }
}

.about__text {
  font-size: rem(16);
  line-height: calc(rem(24) / rem(16));

  @include mq('md') {
    color: $color-wh;
    max-width: rem(400);
  }
}

.button-about {
  margin-top: rem(50);

  @include mq('md') {
    margin-top: rem(40);
  }
}