@use "global" as *;

.blog {
  padding-top: rem(75);
  @include mq('md') {
    padding-top: rem(100);
    position: relative;
  }
}

.blog::before {
  @include mq('md') {
    content: "";
    background-image: url('../images/common/blog_bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: rem(500);
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.blog::after {
  @include mq('md') {
    content: "";
    background-image: url('../images/common/blog_fish.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: rem(437);
    height: rem(201);
    top: rem(24);
    left: calc(50% - min(47vw, 39rem));
  }
}

.blog__title-w {
  @include mq('md') {
    color: $color-wh;
  }
}

.blog__title-w::first-letter {
  @include mq('md') {
    color: $color-wh;
  }
}

.blog__subtitle-w {
  @include mq('md') {
    color: $color-wh;
  }
}

.blog__cards {
  margin-top: rem(24);
  display: grid;
  grid-template: auto;
  gap: rem(40);

  @include mq('md') {
    margin-top: rem(80);
    display: grid;
    gap: rem(32) rem(24);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

.blog__card {
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
  background: #fff;
  @include mq('md') {
    //max-width: calc(33.3333% - rem(40) * 2 / 3);
    width: 100%;

    transition: 0.3s ease;
  }
}

.blog__card:hover {
  @include mq('md') {
    opacity: 0.8;
  }
}

.blog__card:nth-child(3n + 3) {
  margin-right: 0;
}

.blog__card__aside {
  padding: rem(16) rem(16) 0;
}

.blog__card__aside img {
  aspect-ratio: 301 / 201;
  object-fit: cover;
  @include mq('md') {
    //max-width: rem(301);
  }
}

.blog__card__body {
  padding: rem(24) rem(24);
}

.blog__card__header {
  position: relative;
  padding-bottom: rem(4);
}

.blog__card__header::after {
  content: "";
  width: 100%;
  height: 1px;
  border-radius: rem(50);
  background: $color-gr;
  position: absolute;
  bottom: 0;
  left: 0;
}

.blog_card__date {
  font-size: rem(12);
  line-height: calc(rem(18) / rem(12));
}

.blog__card__title {
  font-size: rem(16);
  line-height: calc(rem(24) / rem(16));
  font-weight: $bold;
}

.blog__card__footer {
  padding: rem(16) 0 0;
}

.blog__card__description {
  margin-bottom: 0;
  text-align: left;
  font-size: rem(16);
  line-height: calc(rem(24) / rem(16));
}

.button__wrap-blog {
  margin-top: rem(40);
  @include mq('md') {
    margin-top: rem(80);
  }
}