@use "global" as *;

.campaign-cards__swiper {
  padding-bottom: rem(10);
  @include mq('md') {
    padding-bottom: rem(10);
  }
}

.campaign-cards__card {
  margin-right: rem(24);
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
  height: 100%;
  width: rem(280);
  @include mq('md') {
    margin-right: rem(40);
    width: rem(333);
  }
}