@use "global" as *;

.campaign {
  padding-top: rem(40);
  padding-bottom: rem(40);
  @include mq('md') {
    padding-top: rem(120);
    padding-bottom: rem(20);
  } 
}

.campaign__section-header {
  margin-bottom: rem(25.55);
  @include mq('md') {
    margin-bottom: rem(40);
  }
}

.campaign__inner {
  display: flex;
  flex-direction: column;
  //overflow: hidden;
}

.campaign__cards {
  margin-left: rem(15);
  position: relative;

  margin-right: calc(50% - 50vw);
  @include mq('md') {

  }
}

.campaign_card {
  margin-right: rem(24);
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
  @include mq('md') {
    margin-right: rem(40);
  }
}

.campaign__card__aside img {
  aspect-ratio: 280 / 188;
  object-fit: cover;
  @include mq('md') {
    aspect-ratio: 333 / 223;
  }
}

.campaign__card__body {
  display: flex;
  flex-direction: column;
}


.campaign__card__header {
  text-align: left;
  border-bottom: rem(1) solid  $color-gr;
  overflow: hidden;
  box-shadow: 0 rem(10) rem(10) rem(-10) rgba(0, 0, 0, 0.2);

  flex-grow: 1;
}

.campaign__card__description {
  margin-bottom: rem(0.5);
}

.swiper_campaign {
  padding-bottom: rem(40);
  @include mq('md') {
    padding-bottom: rem(80);
  }
}

.swiper-button-prev,
.swiper-button-next {
  @include mq('md') {
    height: rem(80);
    width: rem(80);
  }
}

.swiper-button-prev {
  display: none;
  @include mq('md') {
    display: block;
    position: absolute;
    top: rem(-85);
    left: rem(838);
  }
}

.swiper-button-next {
  display: none;
  @include mq('md') {
    display: block;
    position: absolute;
    top: rem(-85);
    right: rem(180);
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  @include mq('md') {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: rem(80);
    margin: auto;
    width: rem(80);
  }
}

.swiper-button-prev::after {
  @include mq('md') {
    background-image: url(../images/common/arrow_l_swiper.png);  
  }
}

.swiper-button-next::after {
  @include mq('md') {
    background-image: url(../images/common/arrow_r_swiper.png);
  }
}


.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: "prev";
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: "next";
}