@use "global" as *;

.campaign {
  padding-bottom: rem(40);
  @include mq('md') {
    padding-bottom: rem(20);
    overflow-x: clip;
  } 
}

.l-campaign {
  margin-top: rem(40);

  @include mq('md') {
    margin-top: rem(120);
  } 
}

.campaign__inner {
  display: flex;
  flex-direction: column;
}

.campaign__cards {
  margin-top: rem(40);
  margin-left: rem(15);
  position: relative;
  margin-right: calc(50% - 50vw);
  @include mq('md') {
    margin-top: rem(40);
  }
}

.campaign__button {
  margin-top: rem(30);
  text-align: center;
  @include mq('md') {
    margin-top: rem(70);
  }
}

.swiper-autoheight, .swiper-autoheight .swiper-slide {
  height: 100%;
}

/* カード内の高さを揃える*/
.campaign .swiper-container,
.campaign .swiper-slide {
    height: auto;
}

.swiper-button-prev,
.swiper-button-next {
  @include mq('md') {
    height: rem(80);
    width: rem(80);
  }
}

.swiper-button-prev {
  display: none;
  @include mq('md') {
    display: block;
    position: absolute;
    top: rem(-85);
    left: 66%;
  }
}

.swiper-button-next {
  display: none;
  @include mq('md') {
    display: block;
    position: absolute;
    top: rem(-85);
    left: 79%;
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  @include mq('md') {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: rem(80);
    margin: auto;
    width: rem(80);
  }
}

.swiper-button-prev::after {
  @include mq('md') {
    background-image: url(../images/common/arrow_l_swiper.png);  
  }
}

.swiper-button-next::after {
  @include mq('md') {
    background-image: url(../images/common/arrow_r_swiper.png);
  }
}


.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: "prev";
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: "next";
}