@use "global" as *;

.footer {
  margin-top: rem(100);
  padding: rem(48) 0 rem(56);
  background: $color-gr;
  @include mq('md') {
    margin-top: rem(160);
    padding: rem(80) 0;
  }
}

.l-footer-inner {
  padding: 0 rem(180);
}

.footer__head {
  max-width: rem(600);
  margin: auto;
  @include mq('md') {
    display: flex;
    align-items: center;
    margin: 0;
  }
}

.footer__head a img{
  width: rem(120);
  @include mq('md') {
    width: rem(200);
  }
}

.footer__logo {
  margin-bottom: rem(16);
}

.footer__sns {
  display: flex;
  @include mq('md') {
    margin-left: rem(40);
  }
}

.footer__facebook {
  width: rem(22);
  @include mq('md') {
    width: rem(32);
  }
}

.footer__instagram {
  width: rem(22);
  margin-left: rem(18);
  @include mq('md') {
    width: rem(32);
  }
}

.footer__nav {
  display: flex;
  justify-content: space-around;
  margin-top: rem(40);

  @include mq('md') {
    margin-top: rem(7);
  }
}

.footer__nav-left, .footer__nav-right {
    @include mq('md') {
      display: flex;
      justify-content: flex-start;
      gap: rem(120);
      width: 100%;
  }
}

.footer__nav-right {
  @include mq('md') {
    margin-left: rem(26);
  }
}


.footer__nav-pc-left,
.footer__nav-pc-right {
  @include mq('md') {
    //max-height: 192px;
    display: grid;
    grid-template-columns: 1fr;
    //grid-template-rows: 1fr 1fr;
    grid-template-rows: 74% 26%;
    gap: rem(28);
  }
}

.footer__nav-right .footer__nav-pc-left {
  grid-template-rows: 26% 74%;
  gap: rem(10);
}

.footer__nav-right .footer__nav-pc-right {
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: rem(32);
}

.footer__nav-group {
  //margin-top: rem(40);
  //margin-bottom: rem(32);
}

.footer__nav-head {
  margin-top: rem(30);
  @include mq('md') {
    margin-top: 0;
  }
}

.footer__nav-head-sp {
  margin-top: 0;
}

.footer__nav-head::before {
  content: '';
  display: inline-block;
  background: url(../images/common/footer_starfish.png) no-repeat;
  background-size: contain;
  width: rem(18);
  height: rem(18);
  margin-right: rem(4);
}

.footer__nav-head a {
  font-size: rem(16);
  font-weight: $bold;
  line-height: 1.225;
  color: $color-wh;
  display: inline-block;
  vertical-align: top;
  @include mq('md') {
    transition: all .3s ease;
  }
}

.footer__nav-head a:hover {
  @include mq('md') {
    opacity: .7;
  }
}

.footer__nav-body {
  margin-top: rem(12);
}

.footer__nav-body li a {
  font-size: rem(16);
  line-height: 2.49;
  color: $color-wh;
  padding-left: rem(26);
  @include mq('md') {
    transition: all .3s ease;
  }
}

.footer__nav-body li a:hover {
  @include mq('md') {
    opacity: .7;
  }
}

.footer__copy {
  text-align: center;
  margin-top: rem(40);
  @include mq('md') {
    margin-top: rem(66);
  }
}

.footer__copy small {
  font-size: rem(12);
  line-height: calc(rem(18) / rem(12));
  font-family: $en-base-font-family;
  font-weight: $regular;
  color: $color-wh;
  letter-spacing: -0.05px;
  @include mq('md') {
    font-size: rem(14);
    line-height: calc(rem(18) / rem(14));
  }
}