@use "global" as *;

body.hidden {
  overflow: hidden;
}

.header {
  background: rgba(13,41,54,0.68);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(80);
  z-index: 100;

  @include mq('md') {
    height: rem(90);
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  padding: 0 rem(15);
  position: relative;
  transition: ease .3s;
  @include mq('md') {
    padding: 0 rem(40);
    
  }
}

.header__logo {
  width: rem(102);
  z-index: 1;
  @include mq('md') {
    width: rem(133);
  }
}

/* hamburger menu
------------------------------------------------------*/
.header__btn-sp {
  position: relative;
  width: rem(32);
  height: rem(24);
  cursor: pointer; 
  z-index: 1;
}

.header__btn-sp span {
  position: absolute;
  left: 0;
  width: 100%;
  height: rem(1);
  background-color: #fff;
  border-radius: 4px;
}

.header__btn-sp, .header__btn-sp span {
  display: inline-block;
  transition: all .3s;
  box-sizing: border-box;
}

.header__btn-sp span:nth-of-type(1) {
  top: 0;
}

.header__btn-sp span:nth-of-type(2) {
  top: rem(12);
}

.header__btn-sp span:nth-of-type(3) {
  bottom: 0;
}

#js-headerBtn.active span:nth-of-type(1) {
  -webkit-transform: translateY(rem(12)) rotate(45deg);
  transform: translateY(rem(12)) rotate(45deg);
}
#js-headerBtn.active span:nth-of-type(2) {
  opacity: 0;
}
#js-headerBtn.active span:nth-of-type(3) {
  -webkit-transform: translateY(rem(-12)) rotate(-45deg);
  transform: translateY(rem(-12)) rotate(-45deg);
}

/* SP nav
------------------------------------------------------*/
.header__nav-sp {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: $color-gr;
  transform: translateX(100%);
  transition: ease .3s;
  overflow: scroll;
  margin-top: rem(80);
}
.header__inner.active {
  background: $color-gr;
}

.header__nav-sp.active {
  transform: translateX(0);
}


/* PC nav
------------------------------------------------------*/
.header__nav-pc {
  color: $color-wh;
}

.header__lists-pc {
  @include mq('md') {
    font-size: rem(18);
    line-height: 1;
    font-family: $en-base-font-family;
    display: flex;
    align-items: center;
    gap: rem(40);
  }
}

.header__lists-pc a {
  @include mq('md') {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    height: rem(90);
  }
}

.header__lists-pc a::after {
  @include mq('md') {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: rem(16);
    left: 10%;
    /*線の形状*/
    width: 80%;
    height: rem(2);
    background: $color-wh;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: center top;/*上部中央基点*/
  }
}


.header__lists-pc a:hover::after {
  @include mq('md') {
    transform: scale(1, 1);
  }
}

.header__nav__subtitle {
  @include mq('md') {
    font-size: rem(10);
    line-height: calc(rem(15) / rem(10));
    font-family: $jp-base-font-family;
    padding-top: rem(4);
  }
}