@use "global" as *;

.information {
  margin-top: rem(70);
  padding: rem(80) 0;
  background: #DDF0F1;
  @include mq('md') {
    margin-top: rem(156);
    padding: rem(100) 0 rem(80);
  }
}

.information__contents {
  margin-top: rem(26);
  @include mq('md') {
    display: flex;
    align-items: center;
    margin-top: rem(40);
  }
}

.information__photo__wrap {
  @include mq('md') {
    flex-shrink: 0;
  }
}

.information__photo {
  max-width: rem(540);
}

.information__image {
  aspect-ratio: 540 / 356;
  object-fit: cover;
}

.information__detail {
  margin-top: rem(28);
  @include mq('md') {
    margin-left: rem(45);
    width: rem(492);
  }
}

.information__title {
  font-size: rem(20);
  font-weight: bold;
  line-height: calc(rem(24) / rem(20));
  padding-bottom: rem(4);
  border-bottom: 1px solid $color-gr;

  @include mq('md') {
    font-size: rem(24);
    line-height: 1;
    padding-bottom: rem(8);
  }
}

.information__text {
  line-height: calc(rem(24) / rem(16));
  margin-top: rem(6);
}

.button__wrap-information {
  margin-top: rem(40);
}