@use "global" as *;

.price {
  margin-top: rem(80);
  padding: rem(80) 0;
  background: $color-lgr;
  @include mq('md') {
    margin-top: rem(140);
    padding: rem(100) 0;
    position: relative;
  }
}

.price::after {
  @include mq('md') {
    content: "";
    background-image: url('../images/common/price_fish.png');
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: rem(437);
    height: rem(201);
    bottom: rem(60);
    left: rem(100);
  }
}

.price__contents {
  margin-top: rem(40);
  display: flex;
  flex-direction: column;

  @include mq('md') {
    margin-top: rem(40);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: rem(93);
    margin-bottom: rem(80);
  }
}

.price__image {
  margin: 0 auto;
  @include mq('md') {
    width: 50%;
  }
}

.price__image__sp {
  margin-bottom: rem(40);
  align-self: center;
}

.price__image__sp img {
  max-width: rem(345);
  aspect-ratio: 345 / 227;
  object-fit: cover;
}

.price__image__pc {
  @include mq('md') {
    max-width: rem(492);
  }
}

.price__image__pc img {
  aspect-ratio: 492 / 746;
  object-fit: cover;
}

.price__tables {
  @include mq('md') {
    width: 50%;
  }
}

.price__table:not(:first-of-type) {
  margin-top: rem(40);
}

.price__table__title {
  font-size: rem(16);
  line-height: calc(rem(24) / rem(16));
  font-weight: $bold;
  padding-bottom: rem(4);
  position: relative;
  
}

.price__table__title::after {
  content: "";
  width: 100%;
  height: rem(1);
  background: $color-gr;
  border-radius: rem(5);
  position: absolute;
  bottom: 0;
  left: 0;
}

.price__table__wrap {
  margin-top: 0.5rem;
  font-size: rem(14);
  line-height: calc(rem(24) / rem(14));
  display: grid;
  grid-template-columns: 3fr 1fr;

  @include mq('md') {
    font-size: rem(16);
    line-height: calc(rem(24) / rem(16));
  }
}

.price__text:not(:first-of-type) {
  margin-top: rem(8);
}

.price__money:not(:first-of-type) {
  margin-top: rem(8);
}

.price__money {
  text-align: right;
}

.button__wrap-price {
  margin-top: rem(40);
  @include mq('md') {
    margin-top: rem(80);
  }
}