@use "global" as *;

.price {
  margin-top: rem(80);
  padding: rem(80) 0;
  background: $color-lgr;
  @include mq('md') {
    margin-top: rem(140);
    padding: rem(100) 0;
    position: relative;
  }
}

.price::after {
  @include mq('md') {
    content: "";
    background-image: url('../images/common/price_fish.png');
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: rem(437);
    height: rem(201);
    bottom: rem(60);
    left: calc(50% - min(48.5vw, 38.7rem));
  }
}

.price__contents {
  margin-top: rem(40);
  display: flex;
  flex-direction: column;

  @include mq('md') {
    margin-top: rem(40);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: rem(93);
  }
}

.price__image {
  margin: 0 auto;
  @include mq('md') {
    width: 50%;
  }
}

.price__image-sp {
  margin-bottom: rem(40);
  align-self: center;
}

.price__image-sp img {
  max-width: rem(345);
  aspect-ratio: 345 / 227;
  object-fit: cover;
}

.price__image-pc {
  @include mq('md') {
    max-width: rem(492);
  }
}

.price__image-pc img {
  aspect-ratio: 492 / 746;
  object-fit: cover;
}

.price__button {
  margin-top: rem(40);
  text-align: center;
  @include mq('md') {
    margin-top: rem(80);
  }
}