@use "global" as *;

.voice {
  margin-top: rem(80);
  @include mq('md') {
    margin-top: rem(136);
    position: relative;
  }
}

.voice::before {
  @include mq('md') {
    content: "";
    background-image: url('../images/common/voice_fish.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: rem(300);
    height: rem(138);
    top: rem(-120);
    left: calc(50% - min(48.5vw, 38.7rem));
  }
}

.voice::after {
  @include mq('md') {
    content: "";
    background-image: url('../images/common/voice_sea-horse.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: rem(71);
    height: rem(162);
    bottom: rem(-66);
    right: calc(50% - min(48.5vw, 33.7rem));
  }
}

.voice__cards {
  display: flex;
  flex-direction: column;
  margin-top: rem(40);
  
  @include mq('md') {
    margin-top: rem(30);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: rem(40);
  }
} 

.voice__button {
  text-align: center;
  @include mq('md') {
    margin-top: rem(80);
  }
}