@use "global" as *;

.blog {
  padding-top: rem(75);
  @include mq('md') {
    padding-top: rem(100);
    position: relative;
  }
}

.blog::before {
  @include mq('md') {
    content: "";
    background-image: url('../images/common/blog_bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: rem(500);
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.blog::after {
  @include mq('md') {
    content: "";
    background-image: url('../images/common/blog_fish.png');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: rem(437);
    height: rem(201);
    top: rem(24);
    left: calc(50% - min(47vw, 39rem));
  }
}

.blog__cards {
  margin-top: rem(24);
  display: grid;
  grid-template: auto;
  gap: rem(40);

  @include mq('md') {
    margin-top: rem(80);
    display: grid;
    gap: rem(32) rem(24);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

.blog__button {
  margin-top: rem(40);
  text-align: center;
  @include mq('md') {
    margin-top: rem(80);
  }
}