@use "global" as *;
.js-photo {
  position: relative;
  margin: 0 auto;
}


.js-photo .add__color {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: $color-gr;
}

